.blog-container {
  text-align: center;
}

.blog-card-wrapper {
  padding: 1rem 5rem 1rem 5rem;
  @media (max-width: 768px) {
    padding-left: 2rem;
    padding-right: 2rem;
  }
  cursor: pointer;
  .blog-card {
    position: relative;
    padding: 0.2rem;
    border: none;
    border-radius: 0.7rem;
    @media (max-width: 1199px) {
      background-size: 43rem !important;
      background-position: "right" !important;
    }
    @media (max-width: 991px) {
      background-size: 34rem !important;
      background-position: "right" !important;
    }
    @media (max-width: 767px) {
      background-size: 25rem !important;
      background-position: "right" !important;
    }
    transition: all 0.3s ease-in-out;
    @media (hover: hover) {
      &:hover {
        transform: scale(1.05);
        box-shadow: 10px 10px 122px -25px rgba(0, 0, 0, 0.59);
        -webkit-box-shadow: 10px 10px 122px -25px rgba(0, 0, 0, 0.59);
        -moz-box-shadow: 10px 10px 122px -25px rgba(0, 0, 0, 0.59);
      }
    }
  }
}
