.blog-container {
  text-align: center;
}

.blog-card-wrapper {
  padding: 1rem 5rem 1rem 5rem;
  cursor: pointer;
  .blog-card {
    position: relative;
    padding: 0.2rem;
    border: 0px;
    border-radius: 0.7rem;
    transition: all 0.2s ease-in-out;
    &:hover {
      transform: scale(1.1);
    }
  }
}
