.blog-container {
  text-align: center;
  &-heading {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    &_dark {
      border-bottom: 1px solid white;
    }
  }
}

.blog-card-wrapper {
  padding: 1rem 5rem 1rem 5rem;
  @media (max-width: 768px) {
    padding-left: 2rem;
    padding-right: 2rem;
  }
  cursor: pointer;
  .blog-card {
    position: relative;
    border: none;
    border-radius: 0.7rem;
    &_blur {
      backdrop-filter: blur(3px);
      border-radius: inherit;
    }
    @media (max-width: 1199px) {
      background-size: 43rem !important;
      background-position: "right" !important;
    }
    @media (max-width: 991px) {
      background-size: 34rem !important;
      background-position: "right" !important;
    }
    @media (max-width: 767px) {
      background-size: 25rem !important;
      background-position: "right" !important;
    }
    transition: all 0.3s ease-in-out;
    @media (hover: hover) {
      &:hover {
        transform: scale(1.05);
        -webkit-box-shadow: 10px 10px 122px -25px rgba(0, 0, 0, 0.59);
        -moz-box-shadow: 10px 10px 122px -25px rgba(0, 0, 0, 0.59);
        box-shadow: 10px 10px 122px -25px rgba(0, 0, 0, 0.59);
      }
    }
    &_dark {
      @extend .blog-card;
      &:hover {
        -webkit-box-shadow: 10px 10px 122px -25px rgba(255, 255, 255, 0.4);
        -moz-box-shadow: 10px 10px 122px -25px rgba(255, 255, 255, 0.4);
        box-shadow: 10px 10px 122px -25px rgba(255, 255, 255, 0.4);
      }
    }
  }
}

.blog-post-text {
  color: black;
  transition : all 1s ease;
    &_dark {
      transition : all 1s ease;
      color:  white;
    }
}

.blog-post-image{
  margin: 1rem;
  max-width: 75%;
  border: 3px solid lightgrey;
  border-radius: 1.5rem;
  transition : all 1s ease;
    &_dark {
      @extend .blog-post-image;
      border: 3px solid white;
    }
}
