.header-image-wrapper {
  margin: 0.2rem 0.2rem 0.2rem 0.2rem;
  padding: 0.5rem 1rem 0.5rem 0rem;
  min-width: 140px;
  max-width: 140px;
  @media (max-width : 550px) {
    min-width: 110px;
    max-width: 110px;
  }
}

.header-drawer {
  padding: 0.15rem;
  &-icon {
    height : 2.6rem;
    width : 2.6rem;
    @media (max-width : 550px) {
      height: 1.6rem;
      width: 1.5rem;
    }
    @media (max-width : 300px) {
      justify-content: flex-end;
    }
  }
}

.header-default {
  min-height: 10vh;
  background: none;
  transition: top 0.2s ease-in-out;
  // position: fixed;
  // top: 0;
  width: 100%;
  z-index: 100;
  &_disappeared{
    @extend .header-default;
    top : -5rem;
    @media (max-width : 550px) {
    top : -4.2rem;
    }
  }
  @media (max-width : 550px) {
    min-height: 9vh;
    transition: top 0.2s ease-in-out;
  }
  @media (min-width: 1700px) {
    min-height: 8vh;
    transition: top 0.2s ease-in-out;
  }
  &::before,&::after {
    content: '';
    display: block;
    position: absolute;
    top: 0; bottom: 0; left: 0; right: 0;
  }
  &::before {
    background: -webkit-gradient(90deg, rgba(63,94,251,1) 0%, rgba(252,70,70,1) 100%);
    background: -webkit-linear-gradient(135deg, rgba(63,94,251,1) 0%, rgba(252,70,70,1) 100%);
    background: linear-gradient(90deg, rgba(63,94,251,1) 0%, rgba(252,70,70,1) 100%);

    animation : animateHeaderColor 8s ease-in-out 0s infinite alternate;
    height: inherit;
    z-index: -1;
  }
  &::after {
    background: -webkit-gradient(90deg, rgba(2,0,36,0.81) 0%, rgba(144,18,187,1) 0%, rgba(0,212,255,1) 100%);
    background: -webkit-linear-gradient(90deg, rgba(2,0,36,0.81) 0%, rgba(144,18,187,1) 0%, rgba(0,212,255,1) 100%);
    background: linear-gradient(90deg, rgba(2,0,36,0.81) 0%, rgba(144,18,187,1) 0%, rgba(0,212,255,1) 100%);

    animation : animateHeaderColor 8s ease-in-out -2s infinite alternate;
    height: inherit;
    z-index: -2;
  }

  &_dark {
    @extend .header-default;
    &::before {
      background: #bdc3c7;  /* fallback for old browsers */
      background: -webkit-linear-gradient(to left, #2c3e50, #bdc3c7);  /* Chrome 10-25, Safari 5.1-6 */
      background: linear-gradient(to left, #2c3e50, #bdc3c7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    }
    &::after {
      background: #bdc3c7;  /* fallback for old browsers */
      background: -webkit-linear-gradient(to left, #2c3e50, #bdc3c7);  /* Chrome 10-25, Safari 5.1-6 */
      background: linear-gradient(to right, #2c3e50, #bdc3c7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    }
    &_disappeared{
      @extend .header-default_dark;
      top : -5rem;
      @media (max-width : 550px) {
      top : -4.2rem;
      }
    }
  }
}

@keyframes animateHeaderColor {
  0%, 50%, 100%{
    opacity: 1;
  }
  25%, 75%{
    opacity: 0.25;
  }
}

.drawer-cell {
  color: whitesmoke;
  text-align: center;
  margin-top: 0.75rem;
  margin-bottom: 1rem;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  border : 1px solid transparent;
  &:hover {
    border-radius: 0.4rem;
    cursor: pointer;
    color: black;
    background: white;
  }
  @media (max-width : 550px) {
    font-size: 0.85rem;
  }
  &_dark {
    border : 1px solid white;
  }
}

.row-header-expanded {
  background: black;
  z-index: -1;
  border : 1px solid transparent;
  height : 4.1rem;
  transition: all 0.2s ease-in-out;
  // opacity: 1;
  @media (max-width : 575px) {
    height : 8.2rem;
    transition: all 0.2s ease-in-out;
    opacity: 1;
  }
  &_dark {
    @extend .row-header-expanded;
    border : 1px solid white;
  }
  &_hidden {
    @extend .row-header-expanded;
    transition: all 0.2s ease-in-out;
    height : 0;
    opacity: 0;
    visibility: hidden;
  }
}

.header-expanded {
  @extend .header-default;
  min-height: 10vh;
  transition: height 0.2s ease-in-out;
  background: transparent;
  @media screen and (max-width: 575px) {
    transition: height 0.2s ease-in-out;
    height: 12.35rem;
  }
}

.logo-image {
  opacity: 1;
  transition: opacity 0.2s ease-in;
  &:hover {
    opacity: 0.7;
  }
}

.header-button {
  &:focus {
    box-shadow: none !important;
  }
}