.header-image-wrapper {
  margin: 0.2rem 0.2rem 0.2rem 0.2rem;
  padding: 0.5rem 1rem 0.5rem 0rem;
  min-width: 140px;
  max-width: 140px;
  @media (max-width : 550px) {
    min-width: 110px;
    max-width: 110px;
  }
}

.header-drawer {
  padding: 0.15rem;
  &-icon {
    height : 2.6rem;
    width : 2.6rem;
    @media (max-width : 550px) {
      height: 1.6rem;
      width: 1.5rem;
    }
    @media (max-width : 300px) {
      justify-content: flex-end;
    }
  }
}


.header-default {
  height: 5rem;
  background: white;
  border-bottom: 0.1rem solid #e9ecef;
  transition: height 0.2s ease;
  @media (max-width : 550px) {
    height: 4.2rem;
  }
}

.header-expanded {
  @extend .header-default;
  height: 9rem;
  transition: height 0.2s ease-in;
  @media screen and (max-width: 575px) {
    height: 12rem;
  }
}

.drawer-cell {
  color: white;
  text-align: center;
  margin-top: 0.75rem;
  margin-bottom: 1rem;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  &:hover {
    border-radius: 0.4rem;
    cursor: pointer;
    color: black;
    background: white;
  }
  @media (max-width : 550px) {
    font-size: 0.85rem;
  }
}

.row-header-expanded {
  background: black;
}
