@media screen and (max-width: 575px) {
  .header-image-wrapper {
    display: none;
  }
}

.header-default {
  height: 5rem;
  background: white;
  border-bottom: 0.1rem solid #e9ecef;
  transition: height 0.2s;
}

.header-expanded {
  @extend .header-default;
  background: whitesmoke;
  transition: height 0.2s;
  height: 9rem;
}
