
.home-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height : 100%;
    padding-top: 0.8rem;
    @media (min-width: 1920px) {
        position: relative;
        top: 2rem
    }
    .profile-image-wrapper {
        width : 100%;
        max-width: 200px;
        @media (max-width : 1920px) {
            max-width: 170px;
        }
        @media (max-width : 600px) {
            max-width: 155px;
        }
        @media (max-width : 374px){
            max-width: 140px;
        }
        @media (max-width : 320px){
            max-width: 120px;
        }
    }
    
    .layout-text {
        color : black;
        transition: color 0.2s ease-in-out;
        &_dark {
            color : white;
        }
    }

    .home-hi-text {
        font-size: 2.7rem;
        transition: all 0.2s ease;
        @media (max-width : 1920px){
            transition: all 0.2s ease;
            font-size: 2.3rem;
        }
        @media (max-width : 600px){
            transition: all 0.2s ease;
            font-size: 2rem;
        }
        @media (max-width : 374px){
            transition: all 0.2s ease;
            font-size: 1.7rem;
        }
        @media (max-width : 320px){
            transition: all 0.2s ease;
            font-size: 1.5rem;
        }
    }

    .home-intro-text {
        font-size: 2.3rem;
        transition: all 0.2s ease;
        @media (max-width : 1920px){
            transition: all 0.2s ease;
            font-size: 1.9rem;
        }
        @media (max-width : 600px){
            transition: all 0.2s ease;
            font-size: 1.5rem;
        }
        @media (max-width : 374px){
            transition: all 0.2s ease;
            font-size: 1.2rem;
        }
        @media (max-width : 320px){
            transition: all 0.2s ease;
            font-size: 1rem;
        }
    }

    .home-about-text {
        font-size: 1.65rem;
        transition: all 0.2s ease;
        @media (max-width : 1920px){
            transition: all 0.2s ease;
            font-size: 1.25rem;
        }
        @media (max-width : 600px){
            transition: all 0.2s ease;
            font-size: 1.2rem;
        }
        @media (max-width : 374px){
            transition: all 0.2s ease;
            font-size: 0.8rem;
        }
        @media (max-width : 320px){
            transition: all 0.2s ease;
            font-size: 0.6rem;
        }
    }

    .home-contact-text {
        position: relative;
        margin-top: 1rem;
        font-size: 1.45rem;
        transition: all 0.2s ease;
        @media (max-width : 1920px){
            transition: all 0.2s ease;
            font-size: 1.05rem;
            top: 2rem;
        }
        @media (max-width : 600px){
            transition: all 0.2s ease;
            font-size: 1rem;
            top: 1rem;
        }
        @media (max-width : 374px){
            transition: all 0.2s ease;
            font-size: 0.8rem;
        }
        @media (max-width : 320px){
            transition: all 0.2s ease;
            font-size: 0.6rem;
        }
    }
    
    .home-name-text{
        background-color: rgba(63,94,251,1);
        color: white;
        padding: 0.25rem;
        transition: color 0.2s ease-in-out background-color 0.2s ease-in-out;
        &_dark {
            background-color: #bdc3c7;
            color: black;
            padding: 0.25rem;
            transition: color 0.2s ease-in-out background-color 0.2s ease-in-out;
        }
    }

    .home-dark-text {
        color: white;
        transition: all 0.2s ease-in-out;
    }

    .role-carousel {
        width : 100%;
    }
}