
.profile-image-wrapper {
    margin: 0.5rem auto;
    max-width: 180px;
    @media (max-width : 550px) {
      max-width: 165px;
    }
}

.layout-text {
    color : black;
    transition: color 0.2s ease-in-out;
    &_dark {
        color : white;
    }
}

.home-name-text{
    background-color: rgba(63,94,251,1);
    color: white;
    padding: 0.25rem;
    transition: color 0.2s ease-in-out background-color 0.2s ease-in-out;
    &_dark {
        background-color: #bdc3c7;
        color: black;
        padding: 0.25rem;
        transition: color 0.2s ease-in-out background-color 0.2s ease-in-out;
    }
}