html {
  font-size: 115%;
  line-height: 1.45rem;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  word-wrap: break-word;
  font-kerning: normal;
  font-family: "Questrial";
  font-weight: 500;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -moz-font-feature-settings: "kern", "liga", "clig", "calt";
  -ms-font-feature-settings: "kern", "liga", "clig", "calt";
  -webkit-font-feature-settings: "kern", "liga", "clig", "calt";
  font-feature-settings: "kern", "liga", "clig", "calt";
}

a {
  cursor: pointer;
  color: white;
  &:hover {
    color: white;
    text-decoration: none;
  }
}

.layout-content-wrapper {
  padding: 1rem 1.0875rem;
  background: whitesmoke;
  transition : background 0.2s ease-in-out;
  z-index: 10;
  min-height: 91vh;
  &_dark {
    @extend .layout-content-wrapper;
    background: black;
  }
  @media (min-width: 1700px) {
    min-height: 92vh;
    transition: top 0.2s ease-in-out;
  }
  main {
    height : 100%;
  }
}


