html {
  font-size: 115%;
  line-height: 1.45rem;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  word-wrap: break-word;
  font-kerning: normal;
  font-family: "Questrial";
  font-weight: 500;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -moz-font-feature-settings: "kern", "liga", "clig", "calt";
  -ms-font-feature-settings: "kern", "liga", "clig", "calt";
  -webkit-font-feature-settings: "kern", "liga", "clig", "calt";
  font-feature-settings: "kern", "liga", "clig", "calt";
}

a {
  cursor: pointer;
  color: white;
  &:hover {
    color: white;
    text-decoration: none;
  }
}

.layout-content-wrapper {
  margin: 0 auto;
  padding: 1.5rem 1.0875rem 7rem;
  background: whitesmoke;
  transition : background 0.2s ease-in-out;
  min-height: 100vh;
  border-top : 1px whitesmoke solid;
  z-index: 10;
  &_dark {
    @extend .layout-content-wrapper;
    background: black;
  }
  padding-top : 6.5rem;
  @media (max-width : 550px) {
    padding-top: 5.5rem;
  }
}

